
/* navabr */

.navbar{
    position: relative;
    z-index: 99;
    background-color: var(--bg-black);
}

.navbar .container {
    position: relative;
    z-index: 99;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--bg-black);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.logo-img {
    height: 100%;
}

.menu-links {
    display: none;
}

.menu-links a {
    margin-right: 1.5rem;
    color: white;
    text-decoration: none;
}

.menu-links a:hover {
    text-decoration: underline;
}

.nav-btns {
    display: flex;
    align-items: center;
    gap: 2px;
}

.login-button {
    display: block;
}

.login-link:hover {
    background-color: var(--button);
}

.nav-toggler {
    height: 40px;
    width: 45px;
    cursor: pointer;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.nav-toggler.active span {
    background-color: transparent;
}

.nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.nav-toggler.active span::before {
    transform: rotate(45deg);
    top: 0;
}

.nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.nav-toggler.active span::after {
    transform: rotate(-45deg);
    top: 0;
}

.mobile-menu {
    padding: 20px;
    width: 200px;
    background-color: #161616;
    position: absolute;
    top: 80px;
    right: 5%;
    z-index: -1;
    transform: translateY(-150%); /* Start off-screen */
    transition: transform 0.3s ease-in-out; /* Adjust timing as needed */
    border: 1px solid #131313;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
}


.mobile-menu a {
    display: block;
    color: white;
    padding: 0.5rem 0;
    text-decoration: none;
}

@media (min-width: 768px) {
    .menu-links {
        display: flex;
    }

    .nav-toggler {
        display: none;
    }
}

/* #menu-toggle-btn.active+#mobile-menu-id {
    display: block;
} */

#menu-toggle-btn.active + #mobile-menu-id {
    transform: translateY(10%); /* Move to original position */
}


/* navabr */